.lots {
  background-color: #fff;
  padding-top: 60px;
  @include mediaw(576px) {
    padding-top: 31px;
  }
  .filter {
    .section-description {
      color: #fff;
      background-color: $colorBrown;
      padding: 23px 0;
      @include mediaw(1199px) {
        display: none;
      }
      &.mobile {
        display: none;
        transition: background-color .3s;
        cursor: pointer;
        position: relative;
        @include mediaw(1199px) {
          display: block;
          padding: 16px 40px;
          text-align: center;
          background-color: $colorYellow;
          color: $colorBrown;
          font-family: $fontRobotoBold;
          font-size: 18px;
          line-height: 21px;
          margin-bottom: 0;
        }
        @include mediaw(576px) {
          margin-top: 0;
        }
        &::after {
          content: " ";
          display: block;
          width: 25px;
          height: 25px;
          position: absolute;
          top: 14px;
          right: 13px;
          background-color: #fff;
          border-radius: 50%;
          background-image: url(../img/elements/arrow-bottom-brown.svg);
          background-repeat: no-repeat;
          background-position: center;
          transform: rotate(0);
          transition: transform .3s;
        }
        &.active {
          &::after {
            transform: rotate(180deg);
          }
        }
        &:hover {
          background-color: darken($colorYellow, 10%);
        }
      }
    }
    &__block {
      border: 1px solid #B5A9A3;
      padding: 23px;
      @include mediaw(1199px) {
        display: none;
      }
      .sort.mobile {
        display: none;
        @include mediaw(1199px) {
          display: inline-block;
        }
        @include mediaw(576px) {
          width: 210px;
          font-family: $fontRobotoMedium;
          font-size: 14px;
          line-height: 16px;
          height: 40px;
          display: block;
          margin-left: auto;
          margin-bottom: 22px;
        }
      }
    }
    .price-range-wrapper {
      margin-top: 30px;
    }
    .price-range-numbers {
      margin-top: 40px;
      display: flex;
      justify-content: space-between;
      @include mediaw(576px) {
        margin-top: 30px;
      }
      #price-range-from, #price-range-to {
        width: 150px;
        height: 54px;
        background-color: #EDEAE4;
        border: 1px solid #000000;
        text-align: center;
        padding: 0 15px;
        @include mediaw(576px) {
          width: 112px;
          height: 40px;
        }
      }
    }
    .btn {
      margin-top: 65px;
      width: 100%;
      padding: 17px 0;
      @include mediaw(576px) {
        padding: 13px 0;
        margin-top: 30px;
      }
    }
  }
  .nice-select {
    display: block;
    margin-top: 12px;
    background-color: #F7F7F7;
    border: 1px solid #B5A9A3;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    border-radius: 0;
    height: 54px;
    padding: 0 20px;
    &.sort {
      width: 290px;
      @include mediaw(1199px) {
        display: none;
      }
    }
    @include mediaw(576px) {
      height: 40px;
      font-size: 16px;
      line-height: 19px;
      margin-top: 9px;
    }
    .current {
      position: relative;
      top: 14px;
      @include mediaw(576px) {
        top: 10px;
        left: -12px;
        font-size: 16px;
        line-height: 19px;
        font-family: $fontRobotoRegular;
      }
    }
    &::after {
      background-image: url(../img/elements/arrow-bottom-yellow.svg);
      width: 11px;
      height: 7px;
      border: none;
      transform: none;
    }
    &.open::after {
      transform: rotate(180deg);
      right: 16px;
    }
    .list {
      width: 100%;
    }
  }
  .lot {
    padding: 48px 0 38px;
    border-bottom: 1px solid #B5A9A3;
    @include mediaw(576px) {
      padding: 0 0 26px;
      border: 1px solid $colorBrown;
      margin: 30px 0 0;
    }
    div[class^="col-"]:first-child {
      @include mediaw(576px) {
        padding: 0;
        img {
          height: 200px;
          object-fit: cover;
        }
      }
    }
    .image-block {
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .car {
      margin-top: 37px;
      @include mediaw(576px) {
        margin-top: 9px;
      }
      .title-and-price {
        display: flex;
        justify-content: space-between;
        @include mediaw(576px) {
          padding-bottom: 13px;
          border-bottom: 1px solid #C4C4C4;
        }
        .title {
          color: #000000;
          max-width: 280px;
          font-family: $fontRobotoMedium;
          font-size: 20px;
          line-height: 23px;
          @include mediaw(576px) {
            max-width: 50%;
            font-size: 16px;
            line-height: 19px;
          }
        }
        .price {
          color: $colorBrown;
          font-family: $fontRobotoBold;
          font-size: 24px;
          line-height: 28px;
          @include mediaw(576px) {
            font-family: $fontRobotoMedium;
            font-size: 20px;
            line-height: 23px;
            color: $colorYellow;
          }
        }
      }
      .characteristics {
        @include mediaw(576px) {
          display: flex;
          flex-wrap: wrap;
        }
        p {
          position: relative;
          font-size: 16px;
          line-height: 19px;
          font-family: $fontRobotoLight;
          color: #000;
          padding-left: 42px;
          margin-top: 17px;
          @include mediaw(576px) {
            margin-right: 15px;
            margin-top: 20px;
          }
          &::after {
            content: " ";
            display: block;
            width: 32px;
            height: 32px;
            position: absolute;
            top: -9px;
            left: 0px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            @include mediaw(576px) {
              left: 7px;
            }
          }
        }
        .run::after {
          background-image: url(../img/elements/run-icon.svg);
        }
        .fuel::after {
          background-image: url(../img/elements/fuel-icon.svg);
        }
        .capacity::after {
          background-image: url(../img/elements/capacity-icon.svg);
        }
        .year::after {
          background-image: url(../img/elements/year-icon.svg);
        }
        .transmission::after {
          background-image: url(../img/elements/transmission-icon.svg);
        }
        .drive::after {
          background-image: url(../img/elements/drive-icon.svg);
        }
      }
      .btn {
        width: 100%;
        padding: 18px 0;
        @include mediaw(576px) {
          display: block;
          width: 176px;
          margin: 0 auto;
        }
        &:first-child {
          margin-top: 17px;
          @include mediaw(576px) {
            margin-top: 20px;
          }
        }
        &:not(:first-child) {
          margin-top: 20px;
          @include mediaw(576px) {
            margin-top: 10px;
          }
        }
      }
    }
  }
  .pagination {
    margin-top: 60px;
    @include mediaw(576px) {
      margin-top: 16px;
    }
  }
}