.check {
  padding: 66px 0 100px;
  background-color: #fff;
  @include mediaw(576px) {
    padding: 4px 0 0;
  }
  .section-subtitle {
    span {
      font-family: $fontRobotoRegular;
    }
  }
  &__description {
    margin: 15px 0 29px;
    text-align: center;
    line-height: 19px;
  }
  &__vin--overlay {
    max-width: 717px;
    margin: 29px auto 0;
    @include mediaw(576px) {
      margin: 0;
    }
  }
  &__vin {
    padding: 35px 0 22px;
    background-color: $colorBrown;
    margin-bottom: 100px;
    @include mediaw(767px) {
      margin-bottom: 0;
    }
    @include mediaw(576px) {
      padding: 30px 20px;
    }
    form {
      display: block;
      position: relative;
      input {
        display: block;
        width: 100%;
        height: 54px;
        padding: 0 140px 0 28px;
        @include mediaw(576px) {
          height: 48px;
          text-align: center;
          padding: 0 15px;
        }
        &[type="submit"] {
          width: 107px;
          min-width: initial;
          padding: 0;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url(../img/elements/icon-search.svg);
          background-size: 30px;
          &.mobile {
            display: none;
            @include mediaw(576px) {
              display: block;
              width: 100%;
              height: 48px;
              background-image: none;
            }
          }
        }
      }
      .submit--wrapper {
        position: absolute;
        top: 0;
        right: 0;
        @include mediaw(576px) {
          display: none;
        }
      }
    }
    &-what {
      margin-top: 18px;
      text-align: center;
      color: #fff;
      font-size: 18px;
      line-height: 21px;
      @include mediaw(576px) {
        display: none;
      }
    }
  }
  .row {
    margin-top: 40px;
    @include mediaw(767px) {
      background-color: #fff;
      position: relative;
      padding: 6px 15px 25px;
    }
    &:first-child {
      @include mediaw(576px) {
        margin-top: initial;
      }
    }
    img {
      display: block;
      margin: 0 auto;
    }
  }
  .content-container {
    @include mediaw(767px) {
      padding-top: 100px;
      background-color: #F6F5F5;
      position: relative;
      &::before {
        content: " ";
        display: block;
        width: 2000px;
        height: 100%;
        position: absolute;
        top: 0;
        left: -500px;
        background-color: #F6F5F5;
      }
    }
    @include mediaw(576px) {
      padding-bottom: 43px;
      padding-top: 30px;
    }
  }
  .check-article {
    background-color: #F6F5F5;
    padding: 39px 56px;
    @include mediaw(767px) {
      padding: initial;
      background-color: transparent;
      margin-top: 20px;
    }
    .section-subtitle {
      text-align: left;
    }
  }
}