.welcome {
  background-image: url(../img/elements/home-first-section-bg.png);
  background-size: cover;
  padding: 65px 0 57px;
  color: #fff;
  background-color: #000;
  text-align: center;
  h1 {
    font-size: 36px;
    line-height: 42px;
    font-family: $fontRobotoBlack;
  }
  p {
    margin-top: 13px;
    font-size: 24px;
    line-height: 28px;
  }
}

.quick-order {
  background-color: #F8F7F4;
  padding-top: 30px;
  &--overlay {
    max-width: 706px;
    margin: 0 auto;
  }
  .title {
    padding: 27px 30px 23px;
    font-family: $fontRobotoBlack;
    font-size: 30px;
    line-height: 35px;
    background-color: #E4E4E4;
    color: $colorBrown;
    border: 2px solid $colorBrown;
    border-bottom-width: 1px;
    text-align: center;
    span {
      display: block;
      margin-top: 7px;
      font-family: $fontRobotoRegular;
      font-size: 20px;
      line-height: 23px;
      color: #000;
    }
  }
  form {
    border: 1px solid $colorBrown;
    padding: 26px 85px 40px;
    background-color: $colorYellow;
    label {
      display: block;
      &:not(:first-child) {
        margin-top: 9px;
      }
    }
    input, textarea {
      display: block;
      width: 100%;
      padding: 0 13px;
      height: 56px;
      background-color: #F6F6F6;
      border: 1px solid #B5A9A3;
    }
    textarea {
      height: 122px;
    }
    input[type="submit"] {
      margin: 32px auto 0;
      border: none;
      font-family: $fontRobotoBold;
      font-size: 18px;
      line-height: 21px;
      max-width: 210px;
      &:hover {
        background-color: #502D2B !important;
        color: #fff;
      }
    }
  }
}

.search-auction {
  background-color: #fff;
  padding: 60px 0 79px;
  &--overlay {
    border: 2px solid #372120;
    padding-bottom: 47px;
  }
  &__title {
    display: flex;
    justify-content: center;
    background-color: $colorBrown;
    color: #fff;
    font-family: $fontRobotoBold;
    font-size: 30px;
    line-height: 35px;
    padding: 29px 10px 27px;
    p {
      position: relative;
      transform: translateX(30px);
      &::before {
        content: " ";
        display: block;
        width: 58px;
        height: 58px;
        background-image: url(../img/elements/hammer.svg);
        background-size: cover;
        position: absolute;
        top: -15px;
        left: -64px;
      }
    }
  }
  .text {
    margin: 18px 0 25px;
    font-size: 18px;
    line-height: 21px;
    color: $colorBrown;
    text-align: center;
  }
  form {
    max-width: 720px;
    margin: 0 auto;
    .nice-select {
      display: block;
      margin-bottom: 16px;
      background-color: #F7F7F7;
      border: 1px solid #B5A9A3;
      font-family: $fontRobotoMedium;
      font-size: 20px;
      line-height: 23px;
      color: #000000;
      border-radius: 0;
      height: 54px;
      padding: 0 20px;
      .current {
        position: relative;
        top: 14px;
      }
      &::after {
        background-image: url(../img/elements/arrow-bottom-yellow.svg);
        width: 11px;
        height: 7px;
        border: none;
        transform: none;
      }
      &.open::after {
        transform: rotate(180deg);
        right: 16px;
      }
    }
    div {
      position: relative;
      .label {
        position: absolute;
        left: -8px;
        top: 13px;
        transform: translateX(-100%);
        font-size: 18px;
        line-height: 21px;
        color: #000000;
      }
    }
    input[type="submit"] {
      display: block;
      margin: 14px auto 0;
      width: 249px;
      height: 54px;
      font-size: 16px;
      line-height: 19px;
      font-family: $fontRobotoMedium;
    }
  }
}

.banner {
  position: relative;
  overflow: hidden;
  &__slider {
    .slick-dots {
      bottom: 27px;
      li {
        &.slick-active {
          button {
            &::before {
              color: #372B20;
            }
          }
        }
        button {
          &::before {
            font-size: 12px;
            color: #fff;
            opacity: 1;
          }
        }
      }
    }
  }
  &__buttons {
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: -22px;
    left: 50%;
    transform: translateX(-50%);
    .banner__buttons-prev, .banner__buttons-next {
      width: 50px;
      height: 50px;
      background-color: #fff;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 50%;
      cursor: pointer;
      border: 1px solid #B5A9A3;
      transition: box-shadow .3s;
      position: relative;
      top: -37px;
      &:hover {
        box-shadow: 2px 4px 4px rgba(55, 33, 32, 0.08);
      }
    }
    .banner__buttons-prev {
      background-image: url(../img/elements/arrow-left-brown.svg);
    }
    .banner__buttons-next {
      background-image: url(../img/elements/arrow-right-brown.svg);
    }
  }
}

.cars {
  padding: 120px 0 60px;
  background-color: #fff;
  &__tab {
    display: none;
    &.active {
      display: flex;
    }
  }
  &__tabs {
    display: flex;
    margin-bottom: 11px;
    .tab {
      display: block;
      padding: 22px 42.453px;
      text-align: center;
      background-color: #EDEAE4;
      font-family: $fontRobotoMedium;
      font-size: 14px;
      line-height: 16px;
      color: #372120;
      border: 1px solid #B5A9A3;
      border-left: none;
      transition: background-color .3s, border-color .3s, color .3s;
      cursor: pointer;
      &:hover, &.active {
        background-color: $colorBrown;
        border-color: $colorBrown;
        color: #fff;
        font-family: $fontRobotoBold;
      }
      &:first-child {
        border-left: 1px solid #B5A9A3;
        &:hover {
          border-left: 1px solid $colorBrown;
        }
      }
    }
  }
  .car {
    margin-top: 37px;
    .image-block {
      width: 100%;
      height: 217px;
      border: 1px solid #372120;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .title-and-price {
      display: flex;
      justify-content: space-between;
      padding: 15px 0;
      font-size: 16px;
      line-height: 19px;
      font-family: $fontRobotoMedium;
      .title {
        color: #000000;
        max-width: 205px;
      }
      .price {
        color: #F7A404;
      }
    }
    .characteristics {
      padding: 10px 0 0;
      border-top: 1px solid #372120;
      display: flex;
      flex-wrap: wrap;
      p {
        position: relative;
        font-size: 14px;
        line-height: 16px;
        font-family: $fontRobotoLight;
        color: #000;
        padding-left: 35px;
        margin: 6px 13px 14px 0;
        &::after {
          content: " ";
          display: block;
          width: 32px;
          height: 32px;
          position: absolute;
          top: -9px;
          left: 0px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
        }
      }
      .run::after {
        background-image: url(../img/elements/run-icon.svg);
      }
      .fuel::after {
        background-image: url(../img/elements/fuel-icon.svg);
      }
      .capacity::after {
        background-image: url(../img/elements/capacity-icon.svg);
      }
      .year::after {
        background-image: url(../img/elements/year-icon.svg);
      }
      .transmission::after {
        background-image: url(../img/elements/transmission-icon.svg);
      }
      .drive::after {
        background-image: url(../img/elements/drive-icon.svg);
      }
    }
  }
  .btn {
    margin-top: 30px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 19px 59px;
  }
}

.brands {
  padding: 60px 0 123px;
  background-color: #fff;
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  color: #0078BC;
  &__row {
    display: flex;
    flex-wrap: wrap;
    .brand {
      width: 12.5%;
      margin-bottom: 50px;
      padding: 0 15px;
      .image-block {
        height: 66px;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: scale(0.8);
        transition: transform .3s;
      }
      &:hover {
        .image-block {
          transform: scale(1);
        }
      }
      p {
        margin-top: 10px;
      }
    }
  }
}

.top10 {  
  background-color: #fff;
  .btn {
    display: inline-block;
    margin-top: 50px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 19px 30px;
  }
}

.selection {
  padding: 202px 0 132px;
  background-color: #fff;
  &--overlay {
    max-width: 932px;
    margin-left: auto;
    position: relative;
    z-index: 1;
    &::before {
      content: " ";
      display: block;
      width: 782px;
      height: 607px;
      background-image: url(../img/elements/bg-tesla-usa.png);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      top: -106px;
      left: -432px;
      z-index: -1;
    }
  }
  &__title {
    padding: 47px 100px 37px;
    font-family: $fontRobotoBlack;
    font-size: 30px;
    line-height: 40px;
    background-color: #F7D504;
    color: $colorBrown;
    text-align: center;
  }
  form {
    padding: 38px 53px 44px 60px;
    background-color: #EDEAE4;
    label {
      display: block;
      span {
        color: $colorBrown;
        line-height: 19px;
        font-family: $fontRobotoMedium;
      }
    }
    input, .nice-select {
      display: block;
      width: 100%;
      padding: 0 15px;
      height: 54px;
      background-color: #fff;
      border: 1px solid #B5A9A3;
    }
    .nice-select {
      display: block;
      width: 100%;
      margin-bottom: 16px;
      background-color: #F7F7F7;
      border: 1px solid #B5A9A3;
      font-family: $fontRobotoMedium;
      font-size: 20px;
      line-height: 23px;
      color: #000000;
      border-radius: 0;
      height: 54px;
      padding: 0 20px;
      .current {
        position: relative;
        top: 14px;
      }
      &::after {
        background-image: url(../img/elements/arrow-bottom-yellow.svg);
        width: 11px;
        height: 7px;
        border: none;
        transform: none;
      }
      &.open::after {
        transform: rotate(180deg);
        right: 16px;
      }
    }
    input[type="submit"] {
      margin: 32px auto 0;
      border: none;
      font-family: $fontRobotoBold;
      font-size: 18px;
      line-height: 21px;
      max-width: 210px;
      &:hover {
        color: #fff;
      }
    }
  }
  &__footnote {
    margin-top: 103px;
    max-width: 903px;
    position: relative;
    &::after {
      content: " ";
      display: block;
      width: 417px;
      height: 250px;
      background-image: url(../img/elements/bg-bwm-usa.png);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      right: -411px;
      top: -54px;
    }
    .title {
      font-family: $fontRobotoBold;
      color: $colorBrown;
      font-size: 30px;
      line-height: 35px;
    }
    .description {
      margin-top: 13px;
      line-height: 19px;
      font-family: $fontRobotoLight;
    }
  }
}

.main-office {
  background-color: #EDEAE4;
  padding: 83px 0 81px;
  .section-title {
    margin-bottom: 41px;
    text-align: left;
  }
  &__call {
    display: flex;
    flex-direction: column;
    align-items: center;
    a {
      font-family: $fontRobotoBold;
      font-size: 24px;
      line-height: 28px;
      text-align: center;
      span {
        display: block;
        font-size: 12px;
        line-height: 14px;
      }
      &:not(.btn) {
        position: relative;
        &::before {
          content: " ";
          display: block;
          width: 20px;
          height: 20px;
          background-repeat: no-repeat;
          background-size: contain;
          background-image: url(../img/elements/icon-phone-brown.svg);
          position: absolute;
          left: -23px;
          top: 4px;
        }
      }
    }
    .btn {
      margin-top: 12px;
      font-family: $fontRobotoMedium;
      font-size: 16px;
      line-height: 19px;
      text-transform: initial;
    }
  }
  &__shedule {
    padding-left: 44px;
    .title {
      font-family: $fontRobotoLight;
      font-size: 16px;
      line-height: 19px;
      color: $colorBrown;
      margin-bottom: 11px;
      position: relative;
      &::before {
        content: " ";
        display: block;
        width: 22px;
        height: 22px;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url(../img/elements/icon-clock-brown.svg);
        position: absolute;
        left: -29px;
        top: -2px;
      }
    }
    span {
      display: block;
      font-family: $fontRobotoMedium;
      font-size: 16px;
      line-height: 19px;
    }
  }
  &__email {
    margin-top: 20px;
    display: block;
    position: relative;
    color: #0078BC;
    padding-left: 29px;
    text-decoration-line: underline;
    line-height: 19px;
    &:hover {
      text-decoration: none;
      color: #0078BC;
    }
    &::before {
      content: " ";
      display: block;
      width: 23px;
      height: 16px;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url(../img/elements/icon-email-brown.svg);
      position: absolute;
      left: 0;
      top: 1px;
    }
  }
  &__address {
    position: relative;
    font-family: $fontRobotoMedium;
    line-height: 19px;
    margin-top: 33px;
    padding-left: 29px;
    span {
      display: block;
      font-family: $fontRobotoLight;
      font-size: 16px;
      line-height: 19px;
      color: $colorBrown;
      margin-bottom: 7px;
    }
    &::before {
      content: " ";
      display: block;
      width: 18px;
      height: 23px;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url(../img/elements/icon-marker-brown.svg);
      position: absolute;
      left: 0;
      top: 1px;
    }
  }
  &__map {
    height: 364px;
    border: 4px solid #fff;
    iframe {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

.contact {
  padding: 135px 0 140px;
  background-color: #fff;
  .row {
    margin-top: 39px;
  }
  &__item {
    background-color: $colorYellow;
    padding: 18px 15px;
    text-align: center;
    min-height: 154px;
    .image-block {
      width: 28px;
      height: 28px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    .title {
      margin-top: 12px;
      font-family: $fontRobotoMedium;
      font-size: 18px;
      line-height: 21px;
    }
    a {
      display: inline-block;
      margin-top: 11px;
      font-size: 24px;
      line-height: 28px;
      font-family: $fontRobotoBold;
      span {
        display: block;
        font-size: 12px;
        line-height: 14px;
        font-family: $fontRobotoRegular;
      }
    }
  }
  form {
    label {
      display: block;
      span {
        display: block;
        font-family: $fontRobotoMedium;
        font-size: 16px;
        line-height: 19px;
        color: #372120;
        margin-bottom: 6px;
      }
      input, textarea {
        display: block;
        width: 100%;
        padding: 10px 12px;
        background-color: #F6F6F6;
        border: 1px solid #B5A9A3;
        margin-bottom: 10px;
      }
    }
    input[type="submit"] {
      display: block;
      margin: 30px auto 0;
      padding: 19px 33px;
    }
  }
}