.welcome {
  background-image: url(../img/elements/home-first-section-bg.png);
  background-size: cover;
  padding: 65px 0 57px;
  color: #fff;
  background-color: #000;
  text-align: center;
  h1 {
    font-size: 36px;
    line-height: 42px;
    font-family: $fontRobotoBlack;
  }
  p {
    margin-top: 13px;
    font-size: 24px;
    line-height: 28px;
  }
}

.quick-order {
  background-color: #F8F7F4;
  padding-top: 30px;
  &--overlay {
    max-width: 706px;
    margin: 0 auto;
  }
  .title {
    padding: 27px 30px 23px;
    font-family: $fontRobotoBlack;
    font-size: 30px;
    line-height: 35px;
    background-color: #E4E4E4;
    color: $colorBrown;
    border: 2px solid $colorBrown;
    border-bottom-width: 1px;
    text-align: center;
    span {
      display: block;
      margin-top: 7px;
      font-family: $fontRobotoRegular;
      font-size: 20px;
      line-height: 23px;
      color: #000;
    }
  }
  form {
    border: 1px solid $colorBrown;
    padding: 26px 85px 40px;
    background-color: $colorYellow;
    label {
      display: block;
      &:not(:first-child) {
        margin-top: 9px;
      }
    }
    input, textarea {
      display: block;
      width: 100%;
      padding: 0 13px;
      height: 56px;
      background-color: #F6F6F6;
      border: 1px solid #B5A9A3;
    }
    textarea {
      height: 122px;
    }
    input[type="submit"] {
      margin: 32px auto 0;
      border: none;
      font-family: $fontRobotoBold;
      font-size: 18px;
      line-height: 21px;
      max-width: 210px;
      &:hover {
        background-color: #502D2B !important;
        color: #fff;
      }
    }
  }
}

.search-auction {
  background-color: #fff;
  padding: 60px 0 79px;
  &--overlay {
    border: 2px solid #372120;
    padding-bottom: 47px;
  }
  &__title {
    display: flex;
    justify-content: center;
    background-color: $colorBrown;
    color: #fff;
    font-family: $fontRobotoBold;
    font-size: 30px;
    line-height: 35px;
    padding: 29px 10px 27px;
    p {
      position: relative;
      transform: translateX(30px);
      &::before {
        content: " ";
        display: block;
        width: 58px;
        height: 58px;
        background-image: url(../img/elements/hammer.svg);
        background-size: cover;
        position: absolute;
        top: -15px;
        left: -64px;
      }
    }
  }
  .text {
    margin: 18px 0 25px;
    font-size: 18px;
    line-height: 21px;
    color: $colorBrown;
    text-align: center;
  }
  form {
    max-width: 720px;
    margin: 0 auto;
    .nice-select {
      display: block;
      margin-bottom: 16px;
      background-color: #F7F7F7;
      border: 1px solid #B5A9A3;
      font-family: $fontRobotoMedium;
      font-size: 20px;
      line-height: 23px;
      color: #000000;
      border-radius: 0;
      height: 54px;
      padding: 0 20px;
      .current {
        position: relative;
        top: 14px;
      }
      &::after {
        background-image: url(../img/elements/arrow-bottom-yellow.svg);
        width: 11px;
        height: 7px;
        border: none;
        transform: none;
      }
      &.open::after {
        transform: rotate(180deg);
        right: 16px;
      }
      .list {
        width: 100%;
      }
    }
    div {
      position: relative;
      .label {
        position: absolute;
        left: -8px;
        top: 13px;
        transform: translateX(-100%);
        font-size: 18px;
        line-height: 21px;
        color: #000000;
      }
    }
    input[type="submit"] {
      display: block;
      margin: 14px auto 0;
      width: 249px;
      height: 54px;
      font-size: 16px;
      line-height: 19px;
      font-family: $fontRobotoMedium;
    }
  }
}

.banner {
  position: relative;
  overflow: hidden;
  &__slider {
    .slick-dots {
      bottom: 27px;
      li {
        &.slick-active {
          button {
            &::before {
              color: #372B20;
            }
          }
        }
        button {
          &::before {
            font-size: 12px;
            color: #fff;
            opacity: 1;
          }
        }
      }
    }
  }
  &__buttons {
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: -22px;
    left: 50%;
    transform: translateX(-50%);
    .banner__buttons-prev, .banner__buttons-next {
      width: 50px;
      height: 50px;
      background-color: #fff;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 50%;
      cursor: pointer;
      border: 1px solid #B5A9A3;
      transition: box-shadow .3s;
      position: relative;
      top: -37px;
      &:hover {
        box-shadow: 2px 4px 4px rgba(55, 33, 32, 0.08);
      }
    }
    .banner__buttons-prev {
      background-image: url(../img/elements/arrow-left-brown.svg);
    }
    .banner__buttons-next {
      background-image: url(../img/elements/arrow-right-brown.svg);
    }
  }
}

.cars {
  padding: 120px 0 60px;
  background-color: #fff;
  &__tab {
    display: none;
    &.active {
      display: flex;
    }
  }
  &__tabs {
    display: flex;
    margin-bottom: 11px;
    .tab {
      display: block;
      padding: 22px 42.453px;
      text-align: center;
      background-color: #EDEAE4;
      font-family: $fontRobotoMedium;
      font-size: 14px;
      line-height: 16px;
      color: #372120;
      border: 1px solid #B5A9A3;
      border-left: none;
      transition: background-color .3s, border-color .3s, color .3s;
      cursor: pointer;
      &:hover, &.active {
        background-color: $colorBrown;
        border-color: $colorBrown;
        color: #fff;
        font-family: $fontRobotoBold;
      }
      &:first-child {
        border-left: 1px solid #B5A9A3;
        &:hover {
          border-left: 1px solid $colorBrown;
        }
      }
    }
  }
  .car {
    margin-top: 37px;
    .image-block {
      width: 100%;
      height: 217px;
      border: 1px solid #372120;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .title-and-price {
      display: flex;
      justify-content: space-between;
      padding: 15px 0;
      font-size: 16px;
      line-height: 19px;
      font-family: $fontRobotoMedium;
      .title {
        color: #000000;
        max-width: 205px;
      }
      .price {
        color: #F7A404;
      }
    }
    .characteristics {
      padding: 10px 0 0;
      border-top: 1px solid #372120;
      display: flex;
      flex-wrap: wrap;
      p {
        position: relative;
        font-size: 14px;
        line-height: 16px;
        font-family: $fontRobotoLight;
        color: #000;
        padding-left: 35px;
        margin: 6px 13px 14px 0;
        &::after {
          content: " ";
          display: block;
          width: 32px;
          height: 32px;
          position: absolute;
          top: -9px;
          left: 0px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
        }
      }
      .run::after {
        background-image: url(../img/elements/run-icon.svg);
      }
      .fuel::after {
        background-image: url(../img/elements/fuel-icon.svg);
      }
      .capacity::after {
        background-image: url(../img/elements/capacity-icon.svg);
      }
      .year::after {
        background-image: url(../img/elements/year-icon.svg);
      }
      .transmission::after {
        background-image: url(../img/elements/transmission-icon.svg);
      }
      .drive::after {
        background-image: url(../img/elements/drive-icon.svg);
      }
    }
  }
  .btn {
    margin-top: 30px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 19px 59px;
  }
}

.brands {
  padding: 60px 0 123px;
  background-color: #fff;
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  color: #0078BC;
  &__row {
    display: flex;
    flex-wrap: wrap;
    .brand {
      width: 12.5%;
      margin-bottom: 50px;
      padding: 0 15px;
      display: block;
      .image-block {
        height: 66px;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: scale(0.8);
        transition: transform .3s;
      }
      &:hover {
        .image-block {
          transform: scale(1);
        }
      }
      p {
        margin-top: 10px;
      }
    }
  }
}

.numbers {
  &__header {
    display: flex;
    justify-content: space-between;
    background-color: rgba(237, 234, 228, 0.4);
    .left {
      .tabs {
        display: flex;
        li {
          display: block;
          padding: 18px 50px;
          text-align: center;
          background-color: #EDEAE4;
          font-family: $fontRobotoMedium;
          font-size: 14px;
          line-height: 16px;
          color: #000;
          border: 1px solid #B5A9A3;
          border-left: none;
          transition: background-color .3s, border-color .3s, color .3s;
          cursor: pointer;
          &:hover {
            background-color: $colorBrown;
            border-color: $colorBrown;
            color: #fff;
          }
          &.active {
            background-color: $colorBrown;
            border-color: $colorBrown;
            font-family: $fontRobotoBold;
            color: #fff;
          }
          &:first-child {
            a {
              border-left: 1px solid #B5A9A3;
              &:hover {
                border-left: 1px solid $colorBrown;
              }
            }
          }
        }
      }
    }
    .right {
      .numbers__form--overlay {
        height: 54px;
        max-height: 100%;
        position: relative;
        input[type="search"] {
          display: block;
          width: 491px;
          height: 100%;
          background-color: #FFFFFF;
          border: 1px solid #B5A9A3;
          padding: 5px 55px 5px 20px;
          &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            font-family: $fontRobotoLight;
            line-height: 19px;
          }
          &::-moz-placeholder { /* Firefox 19+ */
            font-family: $fontRobotoLight;
            line-height: 19px;
          }
          &:-ms-input-placeholder { /* IE 10+ */
            font-family: $fontRobotoLight;
            line-height: 19px;
          }
          &:-moz-placeholder { /* Firefox 18- */
            font-family: $fontRobotoLight;
            line-height: 19px;
          }
          &::-webkit-search-decoration,
          &::-webkit-search-cancel-button,
          &::-webkit-search-results-button,
          &::-webkit-search-results-decoration {
            display: none;
          }
        }
        .numbers__form-submit {
          position: absolute;
          right: 0;
          top: 0;
          height: 100%;
          width: 55px;
          background-image: url(../img/elements/icon-search.svg);
          background-repeat: no-repeat;
          background-position: center;
          input {
            display: block;
            height: 100%;
            width: 100%;
            background-color: transparent;
          }
        }
      }
    }
  }
  &__row {
    margin-top: 44px;
    ul {
      columns: 4;
      border-top: 1px solid #B5A9A3;
      border-left: 1px solid #B5A9A3;
      overflow: hidden;
      li {
        display: flex;
        justify-content: space-between;
        line-height: 19px;
        border-right: 1px solid #B5A9A3;
        border-bottom: 1px solid #B5A9A3;
        position: relative;
        &::before {
          content: " ";
          display: block;
          height: 1px;
          width: 16px;
          background-color: #B5A9A3;
          position: absolute;
          bottom: -1px;
          left: -16px;
        }
        div {
          width: 50%;
          padding: 14px 30px 14px 14px;
          &:first-child {
            background-color: #EDEAE4;
            width: calc(50% - 8px);
            position: relative;
            &::before {
              content: " ";
              display: block;
              height: 100%;
              width: 16px;
              position: absolute;
              top: 0;
              left: -16px;
              background-color: #EDEAE4;
            }
          }
          &:nth-child(2) {
            text-align: right;
          }
          a {
            font-family: $fontRobotoMedium;
            color: $colorBrown;
            text-decoration: underline;
            &:hover {
              color: #00489C;
            }
          }
          p {
            text-align: right;
          }
        }
      }
    }
  }
}

.says {
  padding: 133px 0 85px;
  background-color: #fff;
  &__slider--overlay {
    margin-top: 40px;
    position: relative;
    padding: 1px;
  }
  .says__buttons {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 0;
    top: 0;
    .says__buttons-prev, .says__buttons-next {
      width: 50px;
      height: 50px;
      background-color: #fff;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 50%;
      cursor: pointer;
      border: 1px solid #B5A9A3;
      transition: box-shadow .3s;
      position: relative;
      z-index: 1;
      top: 175px;
      &:hover {
        box-shadow: 2px 4px 4px rgba(55, 33, 32, 0.08);
      }
    }
    .says__buttons-prev {
      background-image: url(../img/elements/arrow-left-brown.svg);
      left: -25px;
    }
    .says__buttons-next {
      background-image: url(../img/elements/arrow-right-brown.svg);
      right: -25px;
    }
  }
  &__slider {
    .slick-list {
      margin: 0 -8px;
    }
  }
  &__slide {
    margin: 0 8px;
    height: 345px;
    position: relative;
    display: block;
    &:hover {
      .play-icon {
        width: 120px;
        height: 120px;
      }
    }
    &.youtube {
      &::after {
        content: " ";
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        right: 15px;
        bottom: 15px;
        background-color: #DC472E;
        background-image: url(../img/elements/icon-youtube.svg);
        background-position: center;
        background-repeat: no-repeat;
      }
    }
    .play-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: 60px;
      height: 60px;
      background-image: url(../img/elements/icon-play.svg);
      background-size: cover;
      transition: height .3s, width .3s;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.steps {
  padding: 85px 0 142px;
  background-color: #fff;
  .row {
    margin-top: 45px;
  }
  &__item {
    border: 1px solid #EDEAE4;
    padding: 16px 15px 33px;
    text-align: center;
    transition: border-color .3s;
    background-color: #fff;
    &:hover {
      border-color: #372120;
      .image-block {
        background-color: $colorBrown;
      }
    }
    .image-block {
      width: 80px;
      height: 80px;
      background-color: $colorYellow;
      display: inline-block;
      transition: background-color .3s;
      background-repeat: no-repeat;
      background-position: center;
      position: relative;
      &::before {
        position: absolute;
        left: -60px;
        top: -14px;
        font-family: $fontRobotoBold;
        font-size: 96px;
        line-height: 112px;
        color: #fff;
        text-shadow: rgb(181, 169, 163) 1px 0px 0px, rgb(181, 169, 163) 0.540302px 0.841471px 0px, rgb(181, 169, 163) -0.416147px 0.909297px 0px, rgb(181, 169, 163) -0.989992px 0.14112px 0px, rgb(181, 169, 163) -0.653644px -0.756802px 0px, rgb(181, 169, 163) 0.283662px -0.958924px 0px, rgb(181, 169, 163) 0.96017px -0.279415px 0px;
      }
    }
    .title {
      margin-top: 20px;
      font-size: 18px;
      line-height: 21px;
      font-family: $fontRobotoBold;
      color: $colorBrown;
    }
    .description {
      margin-top: 9px;
      line-height: 20px;
    }
    &:first-child {
      .image-block {
        background-image: url(../img/elements/steps1-white.svg);
        &::before {
          content: "1";
        }
      }
      &:hover {
        .image-block {
          background-image: url(../img/elements/steps1-black.svg);
        }
      }
    }
    &:nth-child(2) {
      .image-block {
        background-image: url(../img/elements/steps2-white.svg);
        &::before {
          content: "2";
        }
      }
      &:hover {
        .image-block {
          background-image: url(../img/elements/steps2-black.svg);
        }
      }
    }
    &:nth-child(3) {
      .image-block {
        background-image: url(../img/elements/steps3-white.svg);
        &::before {
          content: "3";
        }
      }
      &:hover {
        .image-block {
          background-image: url(../img/elements/steps3-black.svg);
        }
      }
    }
    &:nth-child(4) {
      .image-block {
        background-image: url(../img/elements/steps4-white.svg);
        &::before {
          content: "4";
        }
      }
      &:hover {
        .image-block {
          background-image: url(../img/elements/steps4-black.svg);
        }
      }
    }
    &:nth-child(5) {
      .image-block {
        background-image: url(../img/elements/steps5-white.svg);
        &::before {
          content: "5";
        }
      }
      &:hover {
        .image-block {
          background-image: url(../img/elements/steps5-black.svg);
        }
      }
    }
    &:nth-child(6) {
      .image-block {
        background-image: url(../img/elements/steps6-white.svg);
        &::before {
          content: "6";
        }
      }
      &:hover {
        .image-block {
          background-image: url(../img/elements/steps6-black.svg);
        }
      }
    }
    &:nth-child(7) {
      .image-block {
        background-image: url(../img/elements/steps7-white.svg);
        &::before {
          content: "7";
        }
      }
      &:hover {
        .image-block {
          background-image: url(../img/elements/steps7-black.svg);
        }
      }
    }
    &:nth-child(8) {
      .image-block {
        background-image: url(../img/elements/steps8-white.svg);
        &::before {
          content: "8";
        }
      }
      &:hover {
        .image-block {
          background-image: url(../img/elements/steps8-black.svg);
        }
      }
    }
  }
}

.why {
  padding: 72px 0 51px;
  background-color: $colorBrown;
  background-image: url(../img/elements/bg-why.png);
  background-size: cover;
  .section-title {
    padding: 0 15px;
  }
  .container {
    background: rgba(55, 33, 32, 0.9);
    margin-top: 49px;
    padding-bottom: 32px;
  }
  &__item {
    margin-top: 31px;
    color: #fff;
    &-image {
      text-align: right;
      margin-top: 10px;
    }
    .why__title {
      font-family: $fontRobotoBold;
      font-size: 20px;
      line-height: 23px;
    }
    .why__description {
      margin-top: 9px;
      font-family: $fontRobotoLight;
      line-height: 19px;
    }
  }
}

.reviews {
  background-color: #fff;
  padding: 133px 0 141px;
  text-align: center;
  .section-description {
    margin-top: 11px;
  }
  .row {
    margin-top: 58px;
  }
  .review {
    &.youtube {
      .image-block {
        position: relative;
        cursor: pointer;
        &:hover {
          .play-icon {
            width: 120px;
            height: 120px;
          }
        }
        &::after {
          content: " ";
          display: block;
          width: 36px;
          height: 36px;
          position: absolute;
          right: 0;
          bottom: 0;
          background-color: #DC472E;
          background-image: url(../img/elements/icon-youtube.svg);
          background-position: center;
          background-repeat: no-repeat;
        }
        .play-icon {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
          width: 60px;
          height: 60px;
          background-image: url(../img/elements/icon-play.svg);
          background-size: cover;
          transition: height .3s, width .3s;
        }
      }
    }
    .image-block {
      border: 1px solid #372120;
      height: 201px;
      display: block;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &.youtube {
      .image-block {
        height: 261px;
      }
    }
    .text {
      border: 1px solid #B5A9A3;
      border-top: none;
      padding: 11px 11px 37px;
      position: relative;
      .portrait {
        position: absolute;
        top: -45px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #fff;
        padding: 5px;
        width: 90px;
        height: 90px;
        border-radius: 50%;
        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          object-fit: cover;
          border: 1px solid #372120;
        }
      }
      .name {
        line-height: 19px;
        text-transform: uppercase;
      }
      .car {
        margin: 6.56px 0 2.19px;
        text-transform: uppercase;
        font-family: $fontRobotoBold;
        color: $colorBrown;
      }
      .comment {
        font-family: $fontRobotoLight;
      }
    }
  }
  &__slider {
    &--overlay {
      padding: 1px;
      position: relative;
      .reviews__buttons--youtube {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        position: absolute;
        left: 0;
        top: 0;
        .reviews__buttons--youtube-prev, .reviews__buttons--youtube-next {
          width: 50px;
          height: 50px;
          background-color: #fff;
          background-repeat: no-repeat;
          background-position: center;
          border-radius: 50%;
          cursor: pointer;
          border: 1px solid #B5A9A3;
          transition: box-shadow .3s;
          position: relative;
          z-index: 1;
          top: 175px;
          &:hover {
            box-shadow: 2px 4px 4px rgba(55, 33, 32, 0.08);
          }
        }
        .reviews__buttons--youtube-prev {
          background-image: url(../img/elements/arrow-left-brown.svg);
          left: -25px;
        }
        .reviews__buttons--youtube-next {
          background-image: url(../img/elements/arrow-right-brown.svg);
          right: -25px;
        }
      }
      .reviews__buttons {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        position: absolute;
        left: 0;
        top: 0;
        .reviews__buttons-prev, .reviews__buttons-next {
          width: 50px;
          height: 50px;
          background-color: #fff;
          background-repeat: no-repeat;
          background-position: center;
          border-radius: 50%;
          cursor: pointer;
          border: 1px solid #B5A9A3;
          transition: box-shadow .3s;
          position: relative;
          z-index: 1;
          top: 175px;
          &:hover {
            box-shadow: 2px 4px 4px rgba(55, 33, 32, 0.08);
          }
        }
        .reviews__buttons-prev {
          background-image: url(../img/elements/arrow-left-brown.svg);
          left: -25px;
        }
        .reviews__buttons-next {
          background-image: url(../img/elements/arrow-right-brown.svg);
          right: -25px;
        }
      }
    }
    .slick-list {
      margin: 0 -7.5px;
    }
    .review {
      margin: 0 7.5px;
    }
    margin-top: 80px;
    &--youtube {
      margin-top: 58px;
      .slick-list {
        margin: 0 -15px;
      }
      .review {
        margin: 0 15px;
        .text {
          padding: 58px 30px 29px;
          .car {
            margin: 2.2px 0 9.2px;
          }
        }
      }
      .reviews__buttons--youtube-prev, .reviews__buttons--youtube-next {
        top: 110px;
      }
    }
  }
  .btn {
    margin-top: 39.44px;
    padding: 18.69px 28px;
  }
}

.top10 {  
  background-color: #fff;
  .btn {
    display: inline-block;
    margin-top: 50px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 19px 30px;
  }
  &__header {
    background-color: #372120;
    padding: 42px 0 39px;
    color: #FFFFFF;
    text-align: center;
    position: relative;
    &::after {
      content: " ";
      display: block;
      width: 629px;
      height: 100%;
      background-repeat: no-repeat;
      background-image: url('../img/elements/bg-top10.png');
      background-size: cover;
      position: absolute;
      right: 0;
      top: 0;
    }
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &__title {
    font-family: $fontRobotoBold;
    font-size: 30px;
    line-height: 35px;
    position: relative;
    z-index: 1;
    &::after {
      content: " ";
      display: block;
      width: 62.16px;
      height: 102px;
      background-repeat: no-repeat;
      background-image: url(../img/elements/bg-question.svg);
      background-size: contain;
      position: absolute;
      top: -17px;
      right: -85px;
      z-index: -1;
    }
  }
  &__description {
    margin-top: 15px;
    font-size: 18px;
    line-height: 21px;
    position: relative;
    z-index: 1;
  }
  &__item {
    max-width: 1170px;
    margin: 0 auto;
    &:first-child {
      .top10__question {
        border-top: 1px solid #B5A9A3;
      }
    }
    &:hover {
      .icon {
        &::after {
          opacity: 1;
        }
      }
    }
    &.active {
      .top10__question {
        .icon {
          background-color: #EDC939;
          border-right-color: #EDC939;
          &::after {
            background-image: url(../img/elements/icon-circuit-white.svg);
            opacity: 1;
          }
        }
        .text {
          font-family: $fontRobotoBold;
          font-size: 18px;
          line-height: 21px;
          color: #00489C;
        }
        .btn {
          color: #C4C4C4;
          &::after {
            transform: rotate(180deg);
          }
        }
      }
    }
  }
  &__question {
    display: flex;
    align-items: center;
    padding-right: 25px;
    border-bottom: 1px solid #B5A9A3;
    border-right: 1px solid #B5A9A3;
    cursor: pointer;
    &:hover {
      .btn {
        &::after {
          background-color: #EDC939;
          border-color: #EDC939;
          background-image: url(../img/elements/arrow-bottom-brown.svg);
        }
      }
    }
    .icon {
      width: 54px;
      height: 100%;
      min-height: 51px;
      background-color: #EDEAE4;
      border-left: 1px solid #B5A9A3;
      border-right: 1px solid #B5A9A3;
      transition: background-color .3s, border-right-color .3s;
      position: relative;
      &::after {
        content: " ";
        display: block;
        width: 23.77px;
        height: 39px;
        position: absolute;
        top: 7px;
        left: 15.62px;
        background-image: url(../img/elements/icon-circuit.svg);
        background-repeat: no-repeat;
        background-size: contain;
        opacity: 0;
        transition: opacity .3s;
      }
    }
    .text {
      font-family: $fontRobotoMedium;
      line-height: 19px;
      width: calc(100% - 174px);
      padding: 15px;
    }
    .btn {
      width: 120px;
      padding: 10px;
      position: relative;
      left: initial;
      margin-top: initial;
      transform: initial;
      font-family: $fontRobotoLight;
      font-size: 14px;
      line-height: 16px;
      color: #372120;
      transition: color .3s;
      &::after {
        content: " ";
        display: block;
        width: 25px;
        height: 25px;
        border: 1px solid #EDEAE4;
        position: absolute;
        top: 5px;
        right: -15px;
        background-repeat: no-repeat;
        background-size: 12px;
        background-image: url(../img/elements/arrow-bottom-yellow.svg);
        background-position: center;
        border-radius: 50%;
        background-color: transparent;
        transition: background-color .3s, transform .3s;
      }
    }
  }
  &__answer {
    display: none;
    border-bottom: 1px solid #B5A9A3;
    padding: 12px 26px 12px 73px;
    font-family: $fontRobotoLight;
    line-height: 24px;
  }
}

.selection {
  padding: 202px 0 132px;
  background-color: #fff;
  &--overlay {
    max-width: 932px;
    margin-left: auto;
    position: relative;
    z-index: 1;
    &::before {
      content: " ";
      display: block;
      width: 782px;
      height: 607px;
      background-image: url(../img/elements/bg-tesla-usa.png);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      top: -106px;
      left: -432px;
      z-index: -1;
    }
  }
  &__title {
    padding: 47px 100px 37px;
    font-family: $fontRobotoBlack;
    font-size: 30px;
    line-height: 40px;
    background-color: #F7D504;
    color: $colorBrown;
    text-align: center;
  }
  form {
    padding: 38px 53px 44px 60px;
    background-color: #EDEAE4;
    label {
      display: block;
      span {
        color: $colorBrown;
        line-height: 19px;
        font-family: $fontRobotoMedium;
      }
    }
    input, .nice-select {
      display: block;
      width: 100%;
      padding: 0 15px;
      height: 54px;
      background-color: #fff;
      border: 1px solid #B5A9A3;
    }
    .nice-select {
      display: block;
      width: 100%;
      margin-bottom: 16px;
      background-color: #F7F7F7;
      border: 1px solid #B5A9A3;
      font-family: $fontRobotoMedium;
      font-size: 20px;
      line-height: 23px;
      color: #000000;
      border-radius: 0;
      height: 54px;
      padding: 0 20px;
      .current {
        position: relative;
        top: 14px;
      }
      &::after {
        background-image: url(../img/elements/arrow-bottom-yellow.svg);
        width: 11px;
        height: 7px;
        border: none;
        transform: none;
      }
      &.open::after {
        transform: rotate(180deg);
        right: 16px;
      }
    }
    input[type="submit"] {
      margin: 32px auto 0;
      border: none;
      font-family: $fontRobotoBold;
      font-size: 18px;
      line-height: 21px;
      max-width: 210px;
      &:hover {
        color: #fff;
      }
    }
  }
  &__footnote {
    margin-top: 103px;
    max-width: 903px;
    position: relative;
    &::after {
      content: " ";
      display: block;
      width: 417px;
      height: 250px;
      background-image: url(../img/elements/bg-bwm-usa.png);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      right: -411px;
      top: -54px;
    }
    .title {
      font-family: $fontRobotoBold;
      color: $colorBrown;
      font-size: 30px;
      line-height: 35px;
    }
    .description {
      margin-top: 13px;
      line-height: 19px;
      font-family: $fontRobotoLight;
      max-height: 57px;
      overflow: auto;
      &::-webkit-scrollbar { 
        display: none; 
      }
    }
  }
}

.main-office {
  background-color: #EDEAE4;
  padding: 83px 0 81px;
  .section-title {
    margin-bottom: 41px;
    text-align: left;
  }
  &__call {
    display: flex;
    flex-direction: column;
    align-items: center;
    a {
      font-family: $fontRobotoBold;
      font-size: 24px;
      line-height: 28px;
      text-align: center;
      span {
        display: block;
        font-size: 12px;
        line-height: 14px;
      }
      &:not(.btn) {
        position: relative;
        &::before {
          content: " ";
          display: block;
          width: 20px;
          height: 20px;
          background-repeat: no-repeat;
          background-size: contain;
          background-image: url(../img/elements/icon-phone-brown.svg);
          position: absolute;
          left: -23px;
          top: 4px;
        }
      }
    }
    .btn {
      margin-top: 12px;
      font-family: $fontRobotoMedium;
      font-size: 16px;
      line-height: 19px;
      text-transform: initial;
    }
  }
  &__shedule {
    padding-left: 44px;
    .title {
      font-family: $fontRobotoLight;
      font-size: 16px;
      line-height: 19px;
      color: $colorBrown;
      margin-bottom: 11px;
      position: relative;
      &::before {
        content: " ";
        display: block;
        width: 22px;
        height: 22px;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url(../img/elements/icon-clock-brown.svg);
        position: absolute;
        left: -29px;
        top: -2px;
      }
    }
    span {
      display: block;
      font-family: $fontRobotoMedium;
      font-size: 16px;
      line-height: 19px;
    }
  }
  &__email {
    margin-top: 20px;
    display: block;
    position: relative;
    color: #0078BC;
    padding-left: 29px;
    text-decoration-line: underline;
    line-height: 19px;
    &:hover {
      text-decoration: none;
      color: #0078BC;
    }
    &::before {
      content: " ";
      display: block;
      width: 23px;
      height: 16px;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url(../img/elements/icon-email-brown.svg);
      position: absolute;
      left: 0;
      top: 1px;
    }
  }
  &__address {
    position: relative;
    font-family: $fontRobotoMedium;
    line-height: 19px;
    margin-top: 33px;
    padding-left: 29px;
    span {
      display: block;
      font-family: $fontRobotoLight;
      font-size: 16px;
      line-height: 19px;
      color: $colorBrown;
      margin-bottom: 7px;
    }
    &::before {
      content: " ";
      display: block;
      width: 18px;
      height: 23px;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url(../img/elements/icon-marker-brown.svg);
      position: absolute;
      left: 0;
      top: 1px;
    }
  }
  &__map {
    height: 364px;
    border: 4px solid #fff;
    iframe {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

.contact {
  padding: 135px 0 140px;
  background-color: #fff;
  .row {
    margin-top: 39px;
  }
  &--overlay {
    max-width: 952px;
    margin: 0 auto;
  }
  &__item {
    background-color: $colorYellow;
    padding: 18px 15px;
    text-align: center;
    min-height: 154px;
    .image-block {
      width: 28px;
      height: 28px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    .title {
      margin-top: 12px;
      font-family: $fontRobotoMedium;
      font-size: 18px;
      line-height: 21px;
    }
    a {
      display: inline-block;
      margin-top: 11px;
      font-size: 24px;
      line-height: 28px;
      font-family: $fontRobotoBold;
      span {
        display: block;
        font-size: 12px;
        line-height: 14px;
        font-family: $fontRobotoRegular;
      }
    }
  }
  form {
    label {
      display: block;
      span {
        display: block;
        font-family: $fontRobotoMedium;
        font-size: 16px;
        line-height: 19px;
        color: #372120;
        margin-bottom: 6px;
      }
      input, textarea {
        display: block;
        width: 100%;
        padding: 10px 12px;
        background-color: #F6F6F6;
        border: 1px solid #B5A9A3;
        margin-bottom: 10px;
      }
    }
    input[type="submit"] {
      display: block;
      margin: 30px auto 0;
      padding: 19px 33px;
    }
  }
}