.new-offers.partners {
  @include mediaw(576px) {
    margin-top: 43px;
    padding-bottom: 0;
  }
  .section-title {
    @include mediaw(576px) {
      position: relative;
      z-index: 1;
      font-size: 24px;
      line-height: 30px;
      &::before {
        content: " ";
        display: block;
        width: 2000px;
        height: 100%;
        position: absolute;
        top: 0;
        left: -500px;
        background-color: $colorYellow;
        z-index: -1;
      }
    }
  }
  .section-description {
    max-width: 1170px;
    text-align: left;
    margin: 30px auto 58px;
    @include mediaw(576px) {
      margin: 24px auto 20px;
      font-size: 14px;
      line-height: 18px;
      font-family: $fontRobotoRegular;
    }
  }
  .car__prices {
    background-color: #fff;
    border: 1px solid #C4C4C4;
    p {
      padding: 10px 50px;
      font-family: $fontRobotoMedium;
      font-size: 16px;
      line-height: 20px;
      @include mediaw(767px) {
        padding: 10px 15px;
      }
      @include mediaw(767px) {
        padding: 10px 40px;
      }
      &.benefit {
        background-color: #EDEAE4;
      }
      span {
        display: block;
        font-family: $fontRobotoRegular;
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
}

.how-earn {
  padding-top: 23px;
  @include mediaw(576px) {
    padding-top: 0;
    margin-top: 60px;
  }
  .section-title {
    @include mediaw(576px) {
      position: relative;
      z-index: 1;
      font-size: 24px;
      line-height: 30px;
      &::before {
        content: " ";
        display: block;
        width: 2000px;
        height: 100%;
        position: absolute;
        top: 0;
        left: -500px;
        background-color: $colorYellow;
        z-index: -1;
      }
    }
  }
  .section-description {
    max-width: 1170px;
    text-align: left;
    margin: 30px auto 0;
    @include mediaw(576px) {
      font-family: $fontRobotoRegular;
      font-size: 14px;
      line-height: 18px;
    }
  }
  &__item {
    max-width: 1170px;
    margin: 30px auto 0;
    padding: 13px 52px 21px 76px;
    background-color: #F6F5F5;
    position: relative;
    width: 100%;
    @include mediaw(576px) {
      margin: 45px auto 0;
      padding: 46px 10px 28px;
    }
    &::before {
      display: block;
      width: 58px;
      height: 64px;
      background-color: $colorBrown;
      color: #fff;
      font-family: $fontRobotoBold;
      font-size: 34px;
      line-height: 40px;
      text-align: center;
      padding-top: 12px;
      position: absolute;
      top: 0;
      left: 0;
      @include mediaw(576px) {
        top: -30px;
        left: 50%;
        transform: translateX(-50%);
        width: 60px;
        height: 60px;
        background-color: $colorYellow;
      }
    }
    &:first-child::before {
      content: "1";
    }
    &:nth-child(2)::before {
      content: "2";
    }
    &:nth-child(3)::before {
      content: "3";
    }
    &:nth-child(4)::before {
      content: "4";
    }
    &:nth-child(5)::before {
      content: "5";
    }
    &:nth-child(6)::before {
      content: "6";
    }
    &:nth-child(7)::before {
      content: "7";
    }
    &:nth-child(8)::before {
      content: "8";
    }
    &:nth-child(9)::before {
      content: "9";
    }
    &:nth-child(10)::before {
      content: "10";
    }
    .title {
      font-family: $fontRobotoBold;
      font-size: 30px;
      line-height: 35px;
      @include mediaw(576px) {
        font-size: 24px;
        line-height: 28px;
        text-align: center;
      }
    }
  }
  .btn {
    margin-top: 41px;
    padding: 19px 70px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

.how-work-business {
  padding-top: 101px;
  @include mediaw(576px) {
    padding-top: 144px;
  }
  .section-title {
    @include mediaw(576px) {
      position: relative;
      z-index: 1;
      font-size: 24px;
      line-height: 28px;
      &::before {
        content: " ";
        display: block;
        width: 2000px;
        height: 100%;
        position: absolute;
        top: 0;
        left: -500px;
        background-color: $colorYellow;
        z-index: -1;
      }
    }
    span {
      display: block;
      font-size: 30px;
      line-height: 35px;
      @include mediaw(576px) {
        font-size: 18px;
        line-height: 28px;
      }
    }
  }
  .section-subtitle {
    margin: 53px 0 24px;
    font-family: $fontRobotoBold;
    color: $colorBrown;
    @include mediaw(576px) {
      margin: 25px 0 27px;
    }
  }
  .row {
    border: 1px solid #B5A9A3;
    @include mediaw(767px) {
      width: 186px;
      margin: 0 auto;
    }
  }
  .process {
    &__item {
      text-align: center;
      padding: 29px 0 23px;
      position: relative;
      height: 100%;
      &::before, &::after {
        content: " ";
        display: block;
        height: 91px;
        width: 1px;
        position: absolute;
        left: -15px;
        background-color: #B5A9A3;
        @include mediaw(991px) {
          left: -30px;
        }
        @include mediaw(767px) {
          left: 0;
          height: 1px;
          width: 100px;
        }
      }
      &::before {
        top: -3px;
        transform: rotate(-20deg);
        @include mediaw(767px) {
          top: -10px;
          left: -19px;
          transform: rotate(20deg);
        }
      }
      &::after {
        bottom: -3px;
        transform: rotate(20deg);
        @include mediaw(767px) {
          top: -10px;
          bottom: initial;
          right: -19px;
          left: initial;
          transform: rotate(-20deg);
        }
      }
      &.first::before, &.first::after {
        display: none;
      }
      .image-block {
        width: 80px;
        height: 80px;
        background-color: $colorBrown;
        transition: background-color .3s;
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-left: 35px;
        @include mediaw(576px) {
          width: 54px;
          height: 54px;
        }
        &::before {
          position: absolute;
          left: -60px;
          top: -14px;
          font-family: $fontRobotoBold;
          font-size: 96px;
          line-height: 112px;
          color: #fff;
          text-shadow: rgb(181, 169, 163) 1px 0px 0px, rgb(181, 169, 163) 0.540302px 0.841471px 0px, rgb(181, 169, 163) -0.416147px 0.909297px 0px, rgb(181, 169, 163) -0.989992px 0.14112px 0px, rgb(181, 169, 163) -0.653644px -0.756802px 0px, rgb(181, 169, 163) 0.283662px -0.958924px 0px, rgb(181, 169, 163) 0.96017px -0.279415px 0px;
          @include mediaw(576px) {
            font-size: 65px;
            line-height: 76px;
            left: -40px;
            top: -9px;
          }
        }
      }
      &.first {
        .image-block {
          &::before {
            content: "1";
          }
        }
      }
      &.second {
        .image-block {
          &::before {
            content: "2";
          }
        }
      }
      &.third {
        .image-block {
          &::before {
            content: "3";
          }
        }
      }
      &.fourth {
        .image-block {
          &::before {
            content: "4";
          }
        }
      }
      p {
        color: $colorBrown;
        font-family: $fontRobotoBold;
      }
    }
  }
}

.process-true {
  max-width: 1052px;
  margin: 56px auto 0;
  background-color: #F6F5F5;
  padding: 36px 15px 47px 79px;
  @include mediaw(576px) {
    position: relative;
    width: calc(100% + 30px);
    left: -15px;
    padding: 27px 20px 35px;
  }
  &__title {
    font-family: $fontRobotoBold;
    text-align: center;
    font-size: 24px;
    line-height: 36px;
    color: $colorYellow;
    @include mediaw(576px) {
      font-size: 18px;
      line-height: 24px;
    }
    span {
      display: block;
      color: $colorBrown;
    }
  }
  .the_content {
    @include mediaw(576px) {
      margin-top: 16px;
      font-family: $fontRobotoRegular;
      font-size: 16px;
      line-height: 24px;
    }
  }
  .row {
    border: none;
    margin-top: 50px;
    @include mediaw(767px) {
      width: 100%;
    }
    @include mediaw(576px) {
      margin-top: 35px;
    }
  }
  .process__item {
    padding: initial;
    @include mediaw(767px) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &::before, &::after {
      display: none;
    }
    .image-block {
      margin-left: 52px;
      background-color: $colorYellow;
    }
    .section-description {
      text-align: right;
      @include mediaw(767px) {
        margin: 0 0 0 8px;
      }
    }
  }
  .the_content {
    ul {
      font-size: 18px;
      line-height: 24px;
    }
  }
}

.process-result {
  padding: 59px 0 0;
  background-color: #fff;
  @include mediaw(576px) {
    padding: 70px 0 0;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    @include mediaw(767px) {
      flex-wrap: wrap;
    }
    .left, .right {
      width: 605px;
      padding: 42px 55px 48px 85px;
      @include mediaw(991px) {
        padding: 42px 20px 48px 30px;
      }
      @include mediaw(767px) {
        width: 100%;
      }
      @include mediaw(576px) {
        padding: 35px 15px 23px 30px;
      }
      .title {
        text-align: center;
        color: $colorBrown;
      }
      .list {
        font-size: 18px;
        line-height: 30px;
        @include mediaw(576px) {
          font-size: 16px;
        }
        li {
          position: relative;
          &::before {
            content: " ";
            display: block;
            width: 11px;
            height: 11px;
            background-color: $colorBrown;
            position: absolute;
            top: 11px;
            left: -22px;
            @include mediaw(576px) {
              top: 9px;
            }
          }
        }
      }
    }
    .left {
      background-color: #EDEAE4;
      .title {
        font-family: $fontRobotoBold;
        font-size: 24px;
        line-height: 28px;
      }
      .list {
        margin-top: 44px;
        @include mediaw(576px) {
          margin-top: 23px;
        }
      }
    }
    .right {
      background-color: $colorYellow;
      .title {
        font-family: $fontRobotoBlack;
        font-size: 30px;
        line-height: 35px;
        @include mediaw(576px) {
          font-size: 24px;
          line-height: 28px;
        }
      }
      .list {
        margin-top: 37px;
        font-family: $fontRobotoMedium;
        @include mediaw(576px) {
          margin-top: 22px;
        }
      }
    }
  }
  &__footnote {
    margin-top: 97px;
    text-align: center;
    @include mediaw(576px) {
      margin-top: 48px;
    }
    p {
      font-family: $fontRobotoBold;
      font-size: 20px;
      line-height: 23px;
      color: $colorBrown;
      @include mediaw(576px) {
        font-size: 20px;
        line-height: 23px;
      }
      span {
        margin-top: 30px;
        display: block;
        font-family: $fontRobotoMedium;
        font-size: 18px;
        line-height: 21px;
        color: #000;
      }
    }
  }
  .btn {
    margin-top: 46px;
    padding: 18px 70px;
    max-width: 398px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-family: $fontRobotoBold;
    font-size: 18px;
    line-height: 24px;
    @include mediaw(576px) {
      display: block;
      max-width: initial;
      text-align: center;
      padding: 10px 30px;
    }
  }
}

.dilers-reviews {
  padding-top: 141px;
  @include mediaw(576px) {
    padding-top: 50px;
  }
  .section-title {
    background-color: $colorYellow;
    display: inline-block;
    padding: 13px 45px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
    @include mediaw(576px) {
      margin-bottom: 0;
      padding: 14px 20px;
      position: relative;
      z-index: 1;
      font-size: 24px;
      line-height: 28px;  
      &::before {
        content: " ";
        display: block;
        width: 2000px;
        height: 100%;
        position: absolute;
        top: 0;
        left: -500px;
        background-color: $colorYellow;
        z-index: -1;
      }
    }
  }
  .row {
    margin-top: 36px;
    .about-client {
      background: #F6F5F5;
      border-color: 1px solid #372120;
      padding: 20px 15px 20px 35px;
      .name {
        color: $colorBrown;
        font-family: $fontRobotoBold;
        font-size: 20px;
        line-height: 20px;
      }
      .business {
        margin-top: 20px;
        font-family: $fontRobotoBold;
        line-height: 20px;
      }
    }
    .cooperation-result {
      background-color: $colorBrown;
      padding: 20px 15px 20px 35px;
      color: #fff;
      line-height: 30px;
      ul {
        margin-left: 25px;
        li {
          position: relative;
          &::before {
            content: " ";
            display: block;
            width: 11px;
            height: 11px;
            background-color: $colorYellow;
            position: absolute;
            top: 8px;
            left: -22px;
          }
        }
      }
    }
  }
  &__footnote {
    margin: 87px 0;
    text-align: center;
    color: $colorYellow;
    font-family: $fontRobotoMedium;
    font-size: 30px;
    line-height: 34px;
    @include mediaw(576px) {
      font-size: 24px;
      line-height: 30px;
      margin: 52px 0;
    }
    span {
      display: block;
    }
  }
}