.repair-types {
  padding: 48px 0 177px;
  background-color: #fff;
  @include mediaw(576px) {
    padding: 0 0 48px;
  }
  &__item {
    border: 1px solid transparent;
    transition: border-color .3s;
    margin-top: 56px;
    @include mediaw(576px) {
      margin-top: 20px;
    }
    &:hover {
      border-color: #EDC939;
      .image-block {
        opacity: 1;
      }
      .title {
        color: $colorBrown;
        background-color: $colorYellow;
      }
    }
    .image-block {
      height: 219px;
      opacity: 0.6;
      transition: opacity .3s;
      @include mediaw(576px) {
        height: 150px;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .title {
      font-family: $fontRobotoBold;
      color: #fff;
      background-color: $colorBrown;
      font-size: 20px;
      line-height: 23px;
      text-align: center;
      padding: 22px 0 19px;
      transition: background-color .3s, color .3s;
      @include mediaw(576px) {
        padding: 14px 0;
      }
    }
    .link {
      display: none;
      @include mediaw(576px) {
        display: block;
        text-align: center;
        margin: 10px 0;
        font-size: 14px;
        line-height: 16px;
        color: #0F59AF;
      }
    }
  }
}